main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    min-height: 84vh;

    .poke__welcome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            font-size: 60px;
        }

        span{
            font-size: 48px;
        }
    }
    .poke__card_container{
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 1800px;
        flex-wrap: wrap;
    }
}