main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 84vh;
    background-color:antiquewhite;

    .poke__welcome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            font-size: 60px;
        }

        span{
            font-size: 48px;
        }
    }
}