.poke__welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 60px;
    }

    span {
        font-size: 48px;
    }
}

.poke__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .poke__turn_init {
        display: none;
        width: 50px;
        height: 50px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        background-color: rgb(124, 160, 226);
        position: fixed;
        bottom: 60px;
        right: 12.5px;
        color: white;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: rgb(20, 94, 230);
        }
    }
}



.poke__box {
    flex-wrap: wrap;
    display: flex;
    margin: 30px;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.loading {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
    }

    .loader::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #000;
        animation: prixClipFix 2s linear infinite;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}





@media (max-width: 600px) {
    .poke__box {
        width: 300px;
    }



    .poke__welcome {
        width: 100%;
        height: 100%;
        align-items: center;

        p {
            font-size: 40px;
            text-align: center;
        }

        span {
            font-size: 28px;
            margin: 20px 0px 0px 0px;
            text-align: center;
        }
    }

    .poke__main {
        .poke__turn_init {
            display: flex;

        }
    }
}